* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
  }
  
  html,
  body {
    height: auto;
    min-height: 100vh;
  }
  
  html {
    background: linear-gradient(180deg, rgb(54, 136, 156) 0%, #87a2a3 100%);
  }
  
nav {
  display: flex;
  width:100%;
  background-color: #fafafa;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}

.lista-nav{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width:100%;
  margin:0.8rem 5rem;
  align-items: center;
}

.lista-nav li{
  width:fit-content; 
  height: fit-content;
  box-sizing: border-box;
}


.lista-nav li a{
  text-decoration: none;
}

.logo-medclinic{
  scale: 0.5;
  width: fit-content;
}

.logo-user{
  height: 20px;
  width: 20px;
}

.fieldset {
  display: flex;
}

  .input{
    width: 80%
  }

.input-container{
  padding:1rem 0 1rem 0;
  display:flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
}
.input-label{
  padding-right: 0.8rem;
}


  input:focus {
    outline: none;
  }
  
  .registro-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #81d340;
   
  }
  
  .registro-container-cadastro{
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
  }
  #registro-banner {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #banner-camada {
    background-image:url(images/carrossel/laboratorio.jpg); /*quando trocar da foto do laboratório, trocar a cor do título*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    width: 100%;
    margin-bottom: 3.5rem;
  }
  
  #registro-banner h1 {
    font-size: 4rem;
    word-spacing: 50rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  #registro-form {
    background-color: #fdfdfd;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius:50px;
    padding: 3rem;
    margin-bottom: 1.5rem;
  }
  
  #registro-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
  
  #registro-form p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #aaa;
    font-size: 0.8rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  
  .form-control input {
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem 0;
  }
  
  #open-generate-password {
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
  }
  
  #open-generate-password:hover {
    color: #0099ff;
  }
  
  #registro-form #generated-password {
    border: 1px solid #0097ff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
  }
  
  #registro-form #generated-password p {
    color: #81d340;
    margin-bottom: 0.5rem;
  }
  
  #register-form input[type="submit"],
  #generate-options button,
  #copy-password {
    background-color: #81d340;
    color: #fff;
    opacity: 0.8;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.4rem;
    max-width: 150px;
    cursor: pointer;
    align-self: flex-end;
    transition: 0.4s;
  }
  
  #register-form input[type="submit"]:hover {
    opacity: 1;
  }
  
  #generate-options {
    margin-bottom: 1rem;
    padding: 1em;
    border: 1px solid #ddd;
  }
  
  #generate-options .form-control {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #generate-options label {
    font-size: 0.8rem;
  }
  
  #generate-options input[type="text"] {
    max-width: 30px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  #generate-options button {
    background-color: #0097ff;
    display: block;
    margin: 0 auto;
  }
  
  #copy-password {
    margin: 1rem auto;
    background-color: transparent;
    color: #81d340;
    border: 2px solid #81d340;
    padding: 0.5rem 1rem;
  }
  
  .hide {
    display: none;
  }

  footer{
    width:100%;
    background-color: rgb(91, 119, 133);
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: #b8cbcc;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all .25s;
}

.input-container--invalido {
  margin-bottom: 0.5rem;
}

.input-container--invalido .input {
  border: 1px solid red;
  border-radius: 7px;
}

.input-container--invalido .input-label {
  color: red;
}

.input-mensagem-erro {
  display: none;
}

.input-container--invalido .input-mensagem-erro {
  color: red;
  display: block;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}