* {
    font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
  }
  
  
  body { 
    background: linear-gradient(180deg, rgb(244, 250, 249) 0%, #babbbb 100%); /* LUGAR ERRADo*/
  }

  .fieldset {
    display: flex;
	font-size: 20px;
  }


@media(min-width: 800px) {
  .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;	
	}
}

@media(min-width: 1200px) {
	.container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
}
