 
nav {
    display: flex;
    width:100%;
    background-color: #fafafa;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:rgb(0, 164, 189);
   
  }

  nav a{
    color:rgb(0, 164, 189);
  }
  
  .lista-nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width:100%;
    margin:0.8rem 5rem;
    align-items: center;
  }
  
  .lista-nav li{
    width:fit-content; 
    height: fit-content;
    box-sizing: border-box;
  }
  
  
  .lista-nav li a{
    text-decoration: none;
  }
  .bionic-texto{
    color:rgb(0, 164, 189);
  }
  .logo-medclinic{
    scale: 0.5;
    width: fit-content;
  }
  
  .logo-user{
    height: 20px;
    width: 20px;
  }
  
  #dropdown{
    display: none;
  }


  @media (max-width: 900px) {
    .cabecalho__link {
      display: none;
    }

    .bionic-reading{
      display: none;
    }

    .registro-banner{
      position: relative;
      z-index: -1;
    }
  
    #dropdown{
      display: block;
    }

    
.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px gray;
  text-align: center;
  display: none;
}


.dropdown-menu a{
  display: block;
  background-color: #fafafa;
  padding: 25px
}

#dropdown:hover .dropdown-menu{
  display: block;
  z-index: 0;
}

.dropdown-menu a:hover{
  background-color: rgb(236, 236, 236);
}

  }
 