
.registro-banner{
  width:100%;
  height: 600px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

  .slider{
    margin: 0 auto;
    width: clamp(767px 900px 2100px);
    height: 600px;
    overflow: hidden;
  }

  .slides{
    width:400%;
    height: 600px;
    display: flex;
}

.slides input{
 display: none;
}